*{
    margin: 0;
    padding: 0;
}

/****************  ENCABEZADO  ****************/
header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    color: #F0EBCC;
    font-size: 105px;
    cursor: pointer;
}

header{
    background-color: #14279B;
    font-family: 'Gideon Roman', cursive;
    font-size:100px;
    text-align: center;
}

/**************** CUERPO ****************/

body{
    margin: 0;
    padding: 0;
    background-image: url(img/IMGJARDIN2.jpg);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position: left top;
    font-family: 'Montserrat', sans-serif;
}

/****************  CUADRADO DE INGRESO  ****************/

/* .principal{
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    text-align: center;
    /* PONER UN TIPO DE POSICION PARA QUE SE VAYA AJUSTANDO SEGUN EL TAMAÑO DEL DISP */
    /* position:sticky; */
    /* background-color: white; }*/

.caja{
    margin-top: 40px;
    margin-right: 40px;
    float: right;
    background-color: #E6E6FA;
    max-width: 400px;
    height: 350px;
    text-align: center;
    padding: 5px;
}

fieldset h3{
    
    background-color:#14279B;
    border-radius: 20px;
    padding: 20px;
}

fieldset h5{
    background-color:#ADD8E6;
    border-radius: 50px;
    padding: 10px;
}

fieldset h6{
    display: inline;
    text-decoration: none;
}

#nuevo{
    padding: 5px;
    text-decoration: none;
    color: #0C084C;
    background-color:#F0EBCC;
    border-radius: 50px;
}

#nuevo:hover{
    color: red;
    cursor: pointer;
    font-size: 14px;
}

#viejo{
    padding: 5px;
    text-decoration: none;
    color: #0C084C;
    background-color:#F0EBCC;
    border-radius: 50px;
}

#viejo:hover{
    color: red;
    cursor: pointer;
    font-size: 14px;
}

/* estilos de imagenes */
.appstore, .playstore{
    max-width: 150px;
}
.appstore, .playstore:hover{
    cursor: pointer;
}

/* final del cuadro principal */

/* .pie-de-cuadrado{
     no puedo colocarlo en la parte de abajo del cuadro. 
} */

/****************  PIE DE PAGINA  ****************/

footer{
    /* como centrar verticalmente? */
    margin: 0;
    height: 2.5rem;
    width: 100%;
    background-color: black;
    color: #efefef;
    display: inline;
    
    /*  poner footer abajo */

    /* PREGUNTAR PROFE, LO SAQUE DE INTERNET */
    position:fixed;
    left: 0;
    bottom:0;
}


@media (max-width:700px){

} 

