*{
    margin: 0;
    padding: 0;
}

header{
    text-decoration: none;
    background-color: #14279B;
    color: white;
    font-family: 'Gideon Roman', cursive;
    font-size:100px;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(img/IMGJARDIN2.jpg);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position: left top;
    font-family: 'Montserrat', sans-serif;
}

/****************  CUADRADO DE INGRESO  ****************/

/* .principal{
    padding-top: 50px;
    padding-right: 50px;
    float: right;
    text-align: center;
    /* PONER UN TIPO DE POSICION PARA QUE SE VAYA AJUSTANDO SEGUN EL TAMAÑO DEL DISP */
    /* position:sticky; */
    /* background-color: white; }*/

.caja{
    margin-top: 40px;
    margin-right: 40px;
    float: right;
    background-color: #E6E6FA;
    width: 400px;
    height: 350px;
    text-align: center;
}

fieldset h3{
    
    background-color:#14279B;
    border-radius: 20px;
    padding: 10px;
}

fieldset h5{
    background-color:#ADD8E6;
    border-radius: 50px;
    padding: 10px;
}

fieldset h6{
    padding: 40px;
    display: inline;
}

#nuevo{
    color: #0C084C;
    background-color:#F0EBCC;
    border-radius: 50px;
    padding: 5px;
}

#viejo{
    color: #0C084C;
    background-color:#F0EBCC;
    border-radius: 50px;
    padding: 5px;
}

.appstore, .playstore{
    width: 150px;
}

.pie-de-cuadrado{
    /* vertical-align:bottom; INTENTO DE MOVER TODO HACIA ABAJO */
}

/****************  PIE DE PAGINA  ****************/

footer{
    margin: 0;
    height: 2rem;
    width: 100%;
    background-color: black;
    color: #efefef;
}
/* EL DIV DE LA CAJA PRINC ESTA OCUPANDO MAS ESPACIO QUE EL QUE DEBERIA, POR ESO NO PUEDO PONERLO BIEN AL FOOTER. */
.der{
    text-align: right;
} 
@media (max-width:700px){

} 

